:root {
  --blue: rgb(51, 146, 206);
  --blue-border: rgb(2, 80, 128);
  --lightgrey: rgb(235, 235, 235);
  --modal: rgba(180, 180, 180, 0.3);
}

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 70px 1fr;
}

/* Header */
header {
  grid-column: 1 / 3;
  background-color: var(--blue);
}

header > a {
  color: white;
  font-size: 48px;
}

/* Sidebar */
.sidebar {
  background-color: var(--lightgrey);
}

.project-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

button.close-project-form {
  position: absolute;
  top: 0;
  right: 0;
}

.sidebar > .project {
  width: 90%;
  background-color: white;
  border: 2px solid darkgrey;
  border-radius: 4px;
  padding: 4px;
  margin: 5%;
}

.sidebar > .project.highlighted {
  background-color: var(--blue);
  border-color: var(--blue-border);
}

/* Main */
main {
  background-color: white;
}

/* Main -> Task Form */
main > .show-task-form {
  position: absolute;
  bottom: 50px;
  right: 50px;

  color: white;
  background-color: var(--blue);
  font-size: 48px;
  height: 80px;
  width: 80px;
  border: solid 1px var(--lightgrey);
  border-radius: 50%;

}

.task-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  background-color: var(--lightgrey);
  border: 2px solid darkgrey;
  border-radius: 8px;
  padding: 10px;
}

.task-form > *,
.project-form > * {
  display: block;
}

button.task-form-submit {
  background-color: var(--blue);
  color: white;
  border-radius: 8px;
  font-size: 24px;
}

button.close-task-form {
  position: absolute;
  top: 0;
  right: 0;
}

/* Main -> Displayed Tasks */
.task-container {
  display: flex;
  background-color: var(--lightgrey);
  padding: 12px;
  margin: 8px;
  border-radius: 4px;
}

.task-title {
  width: 30%;
}

.task-description {
  width: 30%;
}

.task-importance {
  position: relative;

  color: rgb(226, 166, 0);
  font-size: 24px;
  padding: 0px 8px;
}

.task-importance:hover::before {
  position: absolute;
  top: 5px;
  left: 15px;

  content: "Important";
  font-size: 12px;
  color: darkgrey;
}

/* Modal */
#modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--modal);
  z-index: 1;
}

#modal.hidden {
  z-index: -1;
}